.navbar {
  background-color: #e98b22;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  color: white;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.nav-title {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.nav-center {
  display: flex;
  gap: 40px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-right {
  display: flex;
  align-items: center;
}

.logout-btn {
  background-color: #f5b97e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.logout-btn:hover {
  background-color: #f8c28a;
}
